body, td, caption {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: white;
    font-size: 16px;
    text-align: justify;
}

body {
    width: 800px;
    margin: auto;
}

tt, code, pre {
    font-family: "Inconsolata", "Andale Mono", monospace;
}

pre code {
    font-size: 14px;
}

code {
    font-size: 16px;
}

/* R input */
pre, code {
    border-radius: 3px;
    background-color: #EDEDED;
    color: #333;
}

/* R output */
pre:not([class]) code {
    background-color: #D4D4D4;
}

pre:not([class]), code {
    background-color: #D4D4D4;
}

img {
    max-width: 100% !important;
    display: block;
    margin: auto;
}

#header {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 20px 0px 20px 0px; 
}

#TOC {
    /* border-bottom: 1px solid red; */
    margin: 0px 0px 20px 0px; 
}

#TOC li {
    list-style: outside none url;
}

blockquote {
    font-size: 17.5px;
    width: 90%;
    border-left: none;
    margin: auto;
}

blockquote > blockquote > p {
    color: "red";
    text-align: right;
}
